@import url("~/.config/nordtheme/colors.css");

* {
	font-family: "CasksydiaCove Nerd Font", monospace;
}

window {
	background-color: @nord1;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	background-color: nord1;
	color: white;
}

#inner-box {
	background-color: @nord0;
}

#outer-box {
	margin: 2px;
	padding: 10px;
	background-color: @nord0;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: white;
}

#entry:nth-child(even){
	background-color: @nord1;
}

#entry:selected {
	background-color: @nord3;
}

#text:selected {
	background: transparent;
}
